$color_olive: #969879;
$color_white: #ffffff;
$color_black: #000000;
$color_red: #bc1d10;
$color_signal-red: #b01d10;
$color_eclipse: #101010;
$color_button-black: #272727;
$color_dark-olive: #787963;