* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #969879;
  color: #ffffff;
}

.container {
  max-width: 71.146vw;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

section {
  width: 100vw;
  padding-bottom: 8.854vw;
  margin: 0 auto;
}

h2 {
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-size: 4.688vw;
  line-height: 4.688vw;
}

.button {
  height: 4.01vw;
  border-radius: 1.042vw;
  background-color: #272727;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  order: 0;
  flex-grow: 1;
  transition: 0.3s ease-out;
  flex-shrink: 0;
}
.button:hover {
  background-color: #ffffff;
}
.button svg {
  fill: #ffffff;
}
.button:hover svg {
  fill: #272727;
}
.button svg {
  width: 9.688vw;
  height: 2.5vw;
}

.lang {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-size: 0.938vw;
  line-height: 1.51vw;
  width: 3.49vw;
  align-self: flex-start;
  position: relative;
  transition: 0.3s ease-out;
}
.lang:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1.406vw;
}
.lang .lang__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lang .lang__options {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  color: #969879;
}
.lang .lang__options .lang__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.average, .mobile {
  display: none;
}

/*   HEADER   */
.header {
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(150, 152, 121, 0.5);
  border-bottom: 0.052vw solid rgba(255, 255, 255, 0.3);
}
.header .header__block {
  height: 4.167vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__block .burger {
  display: none;
}
.header .header__block .header__nav-bar .nav-bar__shadow,
.header .header__block .header__nav-bar .nav-bar__backgroung,
.header .header__block .header__nav-bar .lang,
.header .header__block .header__nav-bar .nav-bar__button-container {
  display: none;
}
.header .header__block .header__menu {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-size: 0.938vw;
  line-height: 1.51vw;
  display: flex;
  gap: 2.083vw;
}
.header .header__block .header__menu .menu__item {
  transition: 0.3s ease-out;
}
.header .header__block .header__menu .menu__item:hover a {
  color: #b01d10;
}
.header .header__block .header__logo {
  width: 21.666vw;
  padding-right: 14.583vw;
}
.header .header__block .header__logo .header__logo-img {
  width: 100%;
  vertical-align: middle;
}
.header .header__block .lang {
  padding-left: 0.469vw;
  padding-right: 0.417vw;
  margin-top: 1.406vw;
}
.header .header__block .lang .lang__block .lang-select {
  width: 0.573vw;
}
.header .header__block .lang .lang__options {
  width: 3.49vw;
  padding-left: 0.469vw;
  padding-right: 0.417vw;
  gap: -0.26vw;
  left: -0.469vw;
  border-radius: 0.521vw;
}
.header .header__block .lang .lang__options .lang-select {
  width: 0.573vw;
}
.header .header__block .lang .hidden {
  transition: 0.3s ease-out;
  display: none;
}

/*   SECTION MAIN   */
.main {
  padding-top: 0;
}
.main .container {
  position: relative;
}
.main .top-shadow {
  width: 100vw;
  height: 22.5vw;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
.main .main-block {
  width: 43.125vw;
}
.main .main-block .main-block__header {
  font-family: "Bona Nova", serif;
  font-weight: 700;
  padding-top: 6.25vw;
}
.main .main-block .main-block__header .line {
  display: inline-block;
  font-size: 10.26vw;
  line-height: 9.896vw;
  margin-left: -0.313vw;
}
.main .main-block .main-block__header .upper-line {
  position: relative;
  z-index: 10;
}
.main .main-block .main-block__header .title-size_little {
  display: inline-block;
  font-size: 3.646vw;
  line-height: 3.75vw;
  font-weight: 400;
  margin-left: -0.104vw;
}
.main .main-block .main-block__header .q-shadow {
  text-shadow: 0 0.26vw 0 #969879;
}
.main .main-block .main-block__subheader {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 2.76vw;
  line-height: 3.281vw;
  margin: 0.26vw 0 2.292vw;
  position: relative;
  z-index: 10;
}
.main .main-block .main-block__text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 1.302vw;
  line-height: 1.771vw;
  width: 31.146vw;
  position: relative;
  z-index: 10;
}
.main .main__button-container {
  width: 33.646vw;
  display: flex;
  gap: 1.302vw;
  position: relative;
  margin-top: 4.427vw;
}
.main .main__button-container .button-shadow {
  width: 42.188vw;
  height: 4.896vw;
  border-radius: 140px;
  background-color: rgba(0, 0, 0, 0.3);
  filter: blur(70px);
  position: absolute;
  z-index: -1;
  left: -1.719vw;
  top: -0.052vw;
}
.main .main__shadow {
  width: 37.638vw;
  height: 25.625vw;
  position: absolute;
  right: -2.075vw;
  bottom: -2.24vw;
  z-index: -1;
  border-radius: 7.292vw;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(3.646vw);
}
.main .main__picture {
  width: 34.948vw;
  height: 49.479vw;
  border-radius: 0 0 1.563vw 1.563vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bc1d10;
}
.main .main__picture .main__picture-background {
  width: 34.948vw;
  mix-blend-mode: darken;
  -webkit-animation: 10s scaleBackground linear alternate infinite;
          animation: 10s scaleBackground linear alternate infinite;
  -webkit-animation-delay: 1ms;
          animation-delay: 1ms;
}
@-webkit-keyframes scaleBackground {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
@keyframes scaleBackground {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.main .main__picture .main__picture-image {
  width: 34.948vw;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*   MISSION SECTION   */
.mission {
  padding-bottom: 9.323vw;
}
.mission .container {
  position: relative;
}
.mission .mission__background-picture {
  width: 29.167vw;
  height: 30.469vw;
  background-image: url("../media/img/noun-grape.svg");
  background-size: cover;
  position: absolute;
  top: 20vw;
  left: -10.365vw;
  z-index: -1;
}
.mission .mission__header {
  margin-bottom: 2.083vw;
}
.mission .mission__cards {
  padding-left: 0.365vw;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.302vw;
  justify-content: space-between;
}
.mission .mission__cards .mission__card,
.mission .mission__cards .card-item {
  width: 22.865vw;
  height: 20.625vw;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.15) 100%);
  border: 0.104vw solid rgba(0, 0, 0, 0.24);
  border-radius: 1.302vw;
  overflow: hidden;
  position: relative;
  transition: 0.35s ease-out;
}
.mission .mission__cards .mission__card:hover,
.mission .mission__cards .card-item:hover {
  top: -1.042vw;
  mix-blend-mode: hard-light;
}
.mission .mission__cards .mission__card:hover .card-item__img,
.mission .mission__cards .card-item:hover .card-item__img {
  filter: grayscale(0%);
}
.mission .mission__cards .mission__card .card-item__img,
.mission .mission__cards .card-item .card-item__img {
  display: block;
  width: 100%;
  filter: grayscale(100%);
  transition: 0.35s ease-out;
}
.mission .mission__cards .mission__card .card-item__block,
.mission .mission__cards .card-item .card-item__block {
  height: 10vw;
  position: absolute;
  bottom: 0vw;
  left: 0;
  border-top: 0.052vw solid rgba(0, 0, 0, 0.24);
  background-color: rgba(40, 40, 40, 0.65);
  -webkit-backdrop-filter: blur(0.26vw);
          backdrop-filter: blur(0.26vw);
}
.mission .mission__cards .mission__card .card-item__block .card-item__header,
.mission .mission__cards .card-item .card-item__block .card-item__header {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 1.823vw;
  line-height: 2.5vw;
  display: flex;
  margin-bottom: 0.521vw;
}
.mission .mission__cards .mission__card .card-item__block .card-item__header .card-item__num,
.mission .mission__cards .card-item .card-item__block .card-item__header .card-item__num {
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-size: 2.083vw;
  line-height: 2.5vw;
  font-feature-settings: "pnum", "lnum";
  opacity: 0.69;
  color: #969879;
  margin-right: 1.042vw;
}
.mission .mission__cards .mission__card .card-item__block .card-item__text,
.mission .mission__cards .card-item .card-item__block .card-item__text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 1.042vw;
  line-height: 1.406vw;
}
.mission .mission__cards .mission__card .card-item__block .card-item__text.average,
.mission .mission__cards .card-item .card-item__block .card-item__text.average {
  display: none;
}
.mission .mission__cards .mission__card .card-shadow,
.mission .mission__cards .card-item .card-shadow {
  width: 30.99vw;
  height: 4.74vw;
  background: rgba(0, 0, 0, 0.62);
  opacity: 0.76;
  filter: blur(3.646vw);
  position: absolute;
  bottom: 3.958vw;
}
.mission .mission__cards .card-item_num-first {
  padding: 0.521vw 1.719vw 0 0.938vw;
}
.mission .mission__cards .card-item_num-first .card-shadow {
  display: none;
}
.mission .mission__cards .card-item_num-second {
  padding: 0.573vw 0 0 0.938vw;
}
.mission .mission__cards .card-item_num-second .card-shadow {
  display: none;
}
.mission .mission__cards .card-item_num-third {
  padding: 0.417vw 1.198vw 0 0.938vw;
}
.mission .mission__cards .card-item_num-third .card-shadow {
  display: none;
}
.mission .mission__cards .card-item_num-fourth {
  padding: 0.469vw 0.781vw 0 0.938vw;
}
.mission .mission__cards .card-item_num-fourth .card-shadow {
  left: -4.063vw;
}
.mission .mission__cards .card-item_num-fifth {
  padding: 0.417vw 0.885vw 0 1.458vw;
}
.mission .mission__cards .card-item_num-fifth .card-shadow {
  left: -3.698vw;
}
.mission .mission__cards .card-item_num-sixth {
  padding: 0.417vw 2.031vw 0 1.458vw;
}
.mission .mission__cards .card-item_num-sixth .card-shadow {
  left: -3.646vw;
}

/*   ABOUT PROJECT SECTION   */
.about-project {
  padding-top: 0;
}
.about-project .container {
  max-width: 100vw;
  background-color: #272727;
}
.about-project .about-project__container {
  padding: 0.208vw 14.479vw 0 15.833vw;
  height: 50.521vw;
  background-image: url("../media/img/galaxy-background.png");
  background-position: center;
  background-size: cover;
  mix-blend-mode: hard-light;
  display: flex;
  justify-content: space-between;
}
.about-project .about-project__picture {
  position: relative;
}
.about-project .about-project__picture .about-project__background {
  width: 30.833vw;
  height: 30.833vw;
  border-radius: 50%;
  border: 0.104vw solid #969879;
  position: absolute;
  top: 9.479vw;
  left: 0;
  -webkit-animation: 30s moveMoon linear infinite;
          animation: 30s moveMoon linear infinite;
}
@-webkit-keyframes moveMoon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes moveMoon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.about-project .about-project__picture .about-project__background .about-project__moon-img {
  width: 14.583vw;
  height: 14.583vw;
  border-radius: 50%;
  background-image: url("../media/img/full-moon.png");
  background-size: cover;
  position: absolute;
  top: -6.354vw;
  left: 8.125vw;
  filter: drop-shadow(0vw 0vw 2.083vw rgba(227, 228, 147, 0.25));
  mix-blend-mode: normal;
  -webkit-animation: 30s resizeMoon linear infinite;
          animation: 30s resizeMoon linear infinite;
  overflow: hidden;
}
@-webkit-keyframes resizeMoon {
  0% {
    width: 14.583vw;
    height: 14.583vw;
    top: -6.354vw;
  }
  30% {
    width: 6.185vw;
    height: 6.185vw;
    top: -1.953vw;
  }
  70% {
    width: 10.865vw;
    height: 10.865vw;
    top: -4.333vw;
  }
  100% {
    width: 14.583vw;
    height: 14.583vw;
    top: -6.354vw;
  }
}
@keyframes resizeMoon {
  0% {
    width: 14.583vw;
    height: 14.583vw;
    top: -6.354vw;
  }
  30% {
    width: 6.185vw;
    height: 6.185vw;
    top: -1.953vw;
  }
  70% {
    width: 10.865vw;
    height: 10.865vw;
    top: -4.333vw;
  }
  100% {
    width: 14.583vw;
    height: 14.583vw;
    top: -6.354vw;
  }
}
.about-project .about-project__picture .about-project__background .about-project__eclipse {
  width: 14.178vw;
  height: 14.178vw;
  border-radius: 50%;
  background-color: #101010;
  filter: blur(0.052vw);
  position: absolute;
  top: 14.583vw;
  left: 0.203vw;
  z-index: -100;
  -webkit-animation: 30s resizeEclipse linear infinite;
          animation: 30s resizeEclipse linear infinite;
}
@-webkit-keyframes resizeEclipse {
  0% {
    width: 14.178vw;
    height: 14.178vw;
    top: 14.583vw;
    left: 0.203vw;
  }
  32% {
    width: 6.014vw;
    height: 6.014vw;
    top: 0.926vw;
    left: 1.795vw;
  }
  70% {
    width: 10.563vw;
    height: 10.563vw;
    top: -3.66vw;
    left: 5.443vw;
  }
  100% {
    width: 14.178vw;
    height: 14.178vw;
    top: 14.583vw;
    left: 0.203vw;
  }
}
@keyframes resizeEclipse {
  0% {
    width: 14.178vw;
    height: 14.178vw;
    top: 14.583vw;
    left: 0.203vw;
  }
  32% {
    width: 6.014vw;
    height: 6.014vw;
    top: 0.926vw;
    left: 1.795vw;
  }
  70% {
    width: 10.563vw;
    height: 10.563vw;
    top: -3.66vw;
    left: 5.443vw;
  }
  100% {
    width: 14.178vw;
    height: 14.178vw;
    top: 14.583vw;
    left: 0.203vw;
  }
}
.about-project .about-project__picture .about-project__statue-img {
  width: 23.906vw;
  margin-left: 3.073vw;
  filter: drop-shadow(0vw 0.208vw 2.604vw rgba(0, 0, 0, 0.3));
}
.about-project .about-project__block .about-project__header {
  padding-top: 2.604vw;
  margin-bottom: 3.073vw;
}
.about-project .about-project__block .about-project__features {
  display: flex;
  flex-direction: column;
  gap: 1.563vw;
}
.about-project .about-project__block .about-project__features .about-project__feature,
.about-project .about-project__block .about-project__features .feature-item {
  width: 34.948vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about-project .about-project__block .about-project__features .about-project__feature .feature-item_num,
.about-project .about-project__block .about-project__features .feature-item .feature-item_num {
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-size: 3.125vw;
  line-height: 3.75vw;
  color: #969879;
  font-feature-settings: "pnum", "lnum";
}
.about-project .about-project__block .about-project__features .about-project__feature .feature-item__text,
.about-project .about-project__block .about-project__features .feature-item .feature-item__text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 1.302vw;
  line-height: 1.771vw;
  width: 28.854vw;
  padding-top: 0.625vw;
  padding-bottom: 0.052vw;
}
.about-project .about-project__block .about-project__features .about-project__feature .feature-item__text strong,
.about-project .about-project__block .about-project__features .feature-item .feature-item__text strong {
  font-weight: 700;
}

/*   MOBILE APP SECTION   */
.mobile-app .container {
  position: relative;
}
.mobile-app .mobile-app__header {
  margin-top: -0.104vw;
  margin-bottom: 1.094vw;
}
.mobile-app .mobile-app__subheader {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1.823vw;
  line-height: 2.344vw;
  width: 38.854vw;
}
.mobile-app .mobile-app__features {
  margin-top: 2.552vw;
  display: flex;
  flex-direction: column;
  gap: 1.302vw;
}
.mobile-app .mobile-app__features .mobile-app__feature-item,
.mobile-app .mobile-app__features .feature {
  display: flex;
  gap: 0.833vw;
  align-items: center;
}
.mobile-app .mobile-app__features .mobile-app__feature-item .feature__icon,
.mobile-app .mobile-app__features .feature .feature__icon {
  flex-shrink: 0;
  width: 5.208vw;
  height: 5.208vw;
  border-radius: 0.781vw;
  background-color: #787963;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-app .mobile-app__features .mobile-app__feature-item .feature__icon img,
.mobile-app .mobile-app__features .feature .feature__icon img {
  height: 3.125vw;
}
.mobile-app .mobile-app__features .mobile-app__feature-item .feature__text,
.mobile-app .mobile-app__features .feature .feature__text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1.302vw;
  line-height: 1.771vw;
}
.mobile-app .mobile-app__button-container {
  width: 33.646vw;
  display: flex;
  gap: 1.302vw;
  position: relative;
  margin-top: 2.344vw;
}
.mobile-app .mobile-app__button-container .mobile-app__button-shadow {
  width: 42.188vw;
  height: 5.26vw;
  border-radius: 140px;
  background-color: rgba(0, 0, 0, 0.3);
  filter: blur(70px);
  position: absolute;
  z-index: -1;
  left: -4.688vw;
  top: 0.625vw;
}
.mobile-app .mobile-app__picture {
  position: absolute;
  top: -2.131vw;
  right: -9.891vw;
  z-index: -1;
}
.mobile-app .mobile-app__picture .mobile-app__mobile-img {
  width: 57.031vw;
}
.mobile-app .mobile-app__picture .mobile-app__shadow {
  width: 36.143vw;
  height: 20.642vw;
  position: absolute;
  left: 12.24vw;
  top: 29.683vw;
  z-index: -2;
  background-color: rgba(0, 0, 0, 0.3);
  filter: blur(3.646vw);
  transform: rotate(-173.15deg);
}

/*   ABOUT AUTHOR SECTION   */
.about-author .about-author__header {
  padding-top: 0.573vw;
}
.about-author .about-author__subheader {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1.823vw;
  line-height: 2.344vw;
  width: 58.438vw;
  margin-top: 1.042vw;
  margin-bottom: 5.521vw;
}
.about-author .about-author__block {
  width: 34.896vw;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.042vw;
}
.about-author .about-author__block .about-author__author {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 2.604vw;
  line-height: 3.552vw;
  margin-bottom: 0.521vw;
}
.about-author .about-author__block .about-author__text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 1.302vw;
  line-height: 1.771vw;
}
.about-author .about-author__block .about-author__text strong {
  font-weight: 700;
}
.about-author .about-author__block .about-author__picture {
  position: absolute;
}
.about-author .about-author__block .about-author__picture .about-author__picture_upper-layer {
  position: absolute;
  display: grid;
  border-right: 0.052vw solid #ffffff;
  border-bottom: 0.052vw solid #ffffff;
}
.about-author .about-author__block .about-author__picture .about-author__picture_upper-layer .about-author__picture-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(83.29% 83.29% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  z-index: 10;
}
.about-author .about-author__block .about-author__picture .about-author__picture_upper-layer .about-author__picture-puzzle {
  background-color: #969879;
  border-left: 0.052vw solid #ffffff;
  border-top: 0.052vw solid #ffffff;
  transition: 0.4s ease-out;
}
.about-author .about-author__block .about-author__picture .about-author__picture_upper-layer .about-author__picture-puzzle_hidden {
  background-color: transparent;
}
.about-author .about-author__block .about-author__picture_first {
  top: -7.708vw;
  left: 29.792vw;
}
.about-author .about-author__block .about-author__picture_first .about-author__frame-image {
  width: 48.594vw;
}
.about-author .about-author__block .about-author__picture_first .about-author__picture_upper-layer {
  top: 11.146vw;
  left: 11.875vw;
  width: 24.167vw;
  height: 18.021vw;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}
.about-author .about-author__block .about-author__picture_second {
  top: -12.604vw;
  right: 20.26vw;
}
.about-author .about-author__block .about-author__picture_second .about-author__frame-image {
  width: 65.313vw;
}
.about-author .about-author__block .about-author__picture_second .about-author__picture_upper-layer {
  top: 13.802vw;
  left: 17.604vw;
  width: 28.854vw;
  height: 21.54vw;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}
.about-author .about-author__block:nth-child(2n) {
  width: 33.385vw;
  margin-top: 11.51vw;
  margin-left: 37.76vw;
}
.about-author .about-author__block:nth-child(2n) .about-author__author {
  margin-bottom: 0.521vw;
}
.about-author .about-author__background-img {
  position: absolute;
}
.about-author .about-author__bg-first {
  width: 29.063vw;
  left: -13.229vw;
  top: 7.036vw;
}
.about-author .about-author__bg-second {
  width: 24.427vw;
  left: 17.093vw;
  top: 10.148vw;
}

/*   CONSULTATIONS SECTION   */
.consultations {
  padding-top: 4.427vw;
}
.consultations .container {
  position: relative;
}
.consultations .consultations__header {
  margin-bottom: 1.042vw;
}
.consultations .consultations__subheader {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 1.823vw;
  line-height: 2.5vw;
  margin-bottom: 2.083vw;
}
.consultations .consultations__features {
  display: flex;
  flex-direction: column;
  gap: 1.667vw;
  width: 32.188vw;
}
.consultations .consultations__features .consultations__feature,
.consultations .consultations__features .feature-item {
  display: flex;
  gap: 2.135vw;
}
.consultations .consultations__features .consultations__feature:nth-child(2),
.consultations .consultations__features .feature-item:nth-child(2) {
  margin-top: 0.156vw;
  margin-bottom: 0.365vw;
}
.consultations .consultations__features .consultations__feature .feature-item__icon,
.consultations .consultations__features .feature-item .feature-item__icon {
  width: 3.906vw;
  height: 3.906vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.consultations .consultations__features .consultations__feature .feature-item__icon img,
.consultations .consultations__features .feature-item .feature-item__icon img {
  height: 100%;
}
.consultations .consultations__features .consultations__feature .feature-item__text,
.consultations .consultations__features .feature-item .feature-item__text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 1.302vw;
  line-height: 1.823vw;
}
.consultations .consultations__button-container {
  width: 33.646vw;
  display: flex;
  gap: 1.302vw;
  position: relative;
  margin-top: 3.646vw;
}
.consultations .consultations__button-container .consultations__button-shadow {
  width: 42.188vw;
  height: 5.26vw;
  border-radius: 140px;
  background-color: rgba(0, 0, 0, 0.3);
  filter: blur(70px);
  position: absolute;
  z-index: -1;
  left: -4.323vw;
  top: 0.625vw;
}
.consultations .consultations__picture {
  width: 48.229vw;
  height: 48.229vw;
  position: absolute;
  top: 2.865vw;
  right: -5.469vw;
  z-index: -1;
}
.consultations .consultations__picture .consulttions__background {
  width: 100%;
  height: 100%;
  -webkit-animation: 120s rotateCircle linear infinite;
          animation: 120s rotateCircle linear infinite;
}
@-webkit-keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.consultations .consultations__picture .consultations__bust-img {
  width: 22.604vw;
  position: absolute;
  top: 0.573vw;
  left: 12.292vw;
  z-index: 10;
}
.consultations .consultations__picture .consultations__bust-upper-layer {
  width: 13.906vw;
  position: absolute;
  top: 8.594vw;
  left: 19.115vw;
  z-index: 11;
}
.consultations .consultations__picture .consultation__shadow {
  width: 30.79vw;
  height: 8.406vw;
  position: absolute;
  left: 6.261vw;
  top: 31.937vw;
  z-index: 1;
  background: rgba(0, 0, 0, 0.62);
  opacity: 0.69;
  filter: blur(3.622vw);
  transform: rotate(7.43deg);
}

/*   QUESTIONS SECTION   */
.questions .questions__header {
  margin-bottom: 1.302vw;
}
.questions .questions__item {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  font-size: 1.302vw;
  line-height: 1.771vw;
  padding: 2.604vw 1.302vw 2.448vw 2.292vw;
  border-bottom: 0.052vw solid rgba(255, 255, 255, 0.5);
}
.questions .questions__item:last-child {
  border-bottom: none;
}
.questions .questions__item:nth-child(6n) {
  padding-top: 2.292vw;
}
.questions .questions__item .questions__item-header {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 1.563vw;
  line-height: 2.135vw;
  list-style: none;
  position: relative;
  transition: 0.5s ease-out;
}
.questions .questions__item .questions__item-header::before {
  content: "+";
  position: absolute;
  left: -2.292vw;
}
.questions .questions__item details[open] {
  margin-bottom: 0.104vw;
}
.questions .questions__item details[open] > .questions__item-header {
  margin-bottom: 1.042vw;
}
.questions .questions__item details[open] > .questions__item-header::before {
  content: "-";
}

/*   FOOTER   */
.footer {
  height: 14.167vw;
  padding-top: 2.292vw;
  background-color: #272727;
  position: relative;
}
.footer .footer__shadow {
  width: 100%;
  height: 41.615vw;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
  position: absolute;
  top: -27.448vw;
  left: 0;
  z-index: -1;
}
.footer .footer__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2.031vw;
  border-bottom: 0.052vw solid rgba(255, 255, 255, 0.1);
}
.footer .footer__block .footer__logo-img {
  width: 10.792vw;
}
.footer .footer__block .menu {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-size: 1.146vw;
  line-height: 1.875vw;
  display: flex;
  gap: 4.479vw;
  margin-right: 0.532vw;
}
.footer .footer__block .menu .menu__item:hover a {
  color: #b01d10;
}
.footer .footer__block .footer__button-container {
  width: 22.865vw;
  display: flex;
  gap: 1.354vw;
  position: relative;
}
.footer .footer__block .footer__button-container .button {
  height: 2.604vw;
  border-radius: 0.677vw;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  order: 0;
  flex-grow: 1;
  transition: 0.3s ease-out;
  position: relative;
  z-index: 10;
}
.footer .footer__block .footer__button-container .button:hover {
  background-color: #272727;
}
.footer .footer__block .footer__button-container .button svg {
  fill: #272727;
}
.footer .footer__block .footer__button-container .button:hover svg {
  fill: #ffffff;
}
.footer .footer__block .footer__button-container .button:hover {
  background-color: #969879;
}
.footer .footer__block .footer__button-container .button svg {
  width: 6.25vw;
  height: 1.615vw;
}
.footer .footer__rights {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 1.354vw;
  text-align: center;
  margin-top: 1.719vw;
  margin-right: 3.438vw;
  opacity: 0.2;
}/*# sourceMappingURL=desktop.css.map */