@media screen and ((max-width: 375px) and (max-height: 667px)) {
  /*   MAIN SECTION   */
  .main {
    .main-block {
      .main-block__header {
        padding-top: 60.8vw;
      }
      .main-block__subheader {
        margin: 4.712vw 0 2.933vw;
      }
    }
    .main__button-container {
      margin-top: 4.8vw;
      .button {
        height: 14.667vw;
      }
    }
    .main__picture {
        height: 110.133vw;
        .main__picture-image {
            width: 50.4vw;
            bottom: -8.8vw;
            right: -2.667vw;
        }
    }
  }
}
